Hello, welcome to the project!

<button value="device1" class="btn outlet-{{device1.status.isOn}}" onclick="buttonClick(this)">{{device1.status.isOn}}</button>
<br><br>
<button value="device2" class="btn btn-primary outlet-{{device2.status.isOn}}" onclick="buttonClick(this)">{{device2.status.isOn}}</button>


<br><br>

<script>


/******************************************************************************
 * UI Functions
 *****************************************************************************/

function request(device, status) {
    fetch(`http://localhost:4444/status/${device}/${status}`).then(function(response) {
        return response.json();
    })
    .then(function(myJson) {
        console.log(JSON.stringify(myJson));
    }).catch(err => {
        console.log(err);
    });
}

</script>


  <!-- <div id="chart_div"></div>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
      google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Time');
      data.addColumn('number', 'Watts');

      data.addRows([
        {{#each device1.data.list }}
            [{{this.time}}, {{this.watts}}],
        {{/each}}
      ]);

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Popularity'
        },
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
  -->

<style>
    .outlet-false {
        background-color: #ff0000;
    }

    .outlet-true {
        background-color: #00ff00;
    }
</style>



